* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #DBDFFF;
}

a {
    text-decoration: none;
    color: white;
}

.guestbox {
    position: relative;
    background: none;
    width: 37vw;
    margin: 220px 515px;
    height: 307px;
  }

 .one {
    position: absolute;
    top: 10px;
    left: 15px;
} 

 .two {
    position: absolute;
    top: 10px;
    right: 15px;
} 

.texts .guestclick{
    font-family: krungthep;
    font-size: 40px;
    position: absolute;
    bottom: 0px;
    left: 75px;
}

.texts .new{
    font-family: krungthep;
    font-size: 40px;
    position: absolute;
    bottom: 0px;
    right: 40px;
}

a:hover {
    color: #4654A4; 
}

@media (max-width: 700px) {
    
    .guestbox {
        position: relative;
        background: none;
        width: 55vw;
        margin: 200px auto;
        height: 350px;
    }
    
    .guestbox .one {
        position: relative;
        margin: 0 auto;
        float: none;
        width: auto;
    }
    
    .guestbox .two {
        display: none;
        float: none;
        width: auto;
    }

    .texts .guestclick{
        font-family: krungthep;
        font-size: 40px;
        position: absolute;
        bottom: 40px;
        left: 75px;
    }
    
    .texts .new{
        font-family: krungthep;
        font-size: 40px;
        position: absolute;
        bottom: 0px;
        right: 40px;
    }
    
    a:hover {
        color: #4654A4; 
    }
}